DocumentManagementSystem/bin/Debug/log/error/09122021.log
DocumentManagementSystem/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DocumentManagementSystem/obj/x86/Debug/DocumentManagementSystem.vbproj.FileListAbsolute.txt
